In [56]:
#Import Dependencies

import pandas as pd

#Load in the Reference File
pymoli_data = '../Resources/purchase_data.csv'

#Read in Purchasing Data & Store as a DataFrame

purchase_data = pd.read_csv(pymoli_data)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [57]:
#Display the Total Number of Players

total_players = len(purchase_data["SN"].value_counts())

print(f"The Total Number of Players is {total_players}.")

The Total Number of Players is 576.

## Purchasing Analysis (Total)

In [58]:
#Calculate the number of Unique Items 

items = len(purchase_data["Item Name"].value_counts())

#Calculate the Average Purchase Price
avg_price = round(purchase_data["Price"].mean(),2)

#Calculate the Total number of Purchases
total_purchases = purchase_data["Purchase ID"].count()

#Calculate the Total Revenue
total_revenue = purchase_data["Price"].sum()

#Create a Summmary Table
purchasing_analysis_summary = pd.DataFrame({"Number of Unique Items" : [items],
                                           "Average Purchase Price" : [avg_price],
                                           "Total Purchases" : [total_purchases],
                                           "Total Revenue" : [total_revenue]})

purchasing_analysis_summary

,Number of Unique Items,Average Purchase Price,Total Purchases,Total Revenue
0,179,3.05,780,2379.77

## Gender Demographics

In [64]:
#Making a dataframe of Unique Users & Gender

gender_data = purchase_data.loc[:, ["SN", "Gender", "Age"]]
all_users = pd.DataFrame(gender_data)

#Drop the duplicate users so that Count and Percent can be calculated accurately
unique_users = all_users.drop_duplicates()

#Calculate the Count of each Player by Gender
genders = unique_users["Gender"].value_counts()

#Calculate the Percent of each Player by Gender
percents = round(genders / total_players * 100, 2)

#Display the Results
gender_demographics = pd.DataFrame({"Total Count": genders, 
                                   "Percentage of Players": percents})

gender_demographics

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91